*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    }
    .text-white{
        color:white;
    }
    .empty{
        height: 100vh;
    }
    .nav{
        width: 100%;
        background-color: black;
      display: flex;
      justify-content:flex-start;
        }  
    .nav-item{
        position: relative;
        padding: 15px;
        display: block;
        float:Left;
        text-decoration: none;
        color:white;
        margin-left:20px;
    }
    .nav-item::before{
      content: '';
      background-color: #48b926;
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: top;
      transition: .7s ease-in-out;

    }
    .nav-item:hover{
        background-color: #353535;
    }
    .nav-item:hover::before{
      transform: scale(1);
    }
    .nav.to-left a::before{
      transform-origin: bottom;
    }
    .brand{
        float:Left;
        padding: 3px;
        font-size: 27px;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        margin-left:10px;
    }
    .brand:hover{
        background-color: #353535;
        text-shadow: 2px 3px 6px black;
    }